cmake_minimum_required(VERSION 3.20)
project({{ project.name }} VERSION 0.1.0 LANGUAGES CXX)

set(CMAKE_CXX_STANDARD 17)
set(CMAKE_CXX_STANDARD_REQUIRED ON)

find_package(pybind11 REQUIRED)

pybind11_add_module(_{{ project.name }}
    src/{{ project.name }}.cpp
    src/bindings.cpp
)

target_include_directories(_{{ project.name }} PRIVATE include)

install(TARGETS _{{ project.name }} DESTINATION {{ project.name }})
