cmake_minimum_required(VERSION 3.20)
project({{ project.name }} VERSION 0.1.0 LANGUAGES CXX)

set(CMAKE_CXX_STANDARD 17)
set(CMAKE_CXX_STANDARD_REQUIRED ON)
set(CMAKE_EXPORT_COMPILE_COMMANDS ON)

add_library({{ project.name }}
    src/{{ project.name }}.cpp
)
target_include_directories({{ project.name }}
    PUBLIC
        $<BUILD_INTERFACE:${CMAKE_CURRENT_SOURCE_DIR}/include>
)
target_compile_options({{ project.name }} PRIVATE -Wall -Wextra -Wpedantic)

# Tests
enable_testing()
add_subdirectory(tests)
