# {{ project.name }}

TODO: one-sentence description of what this project does.

## Modules

| Module | Description |
|--------|-------------|
| `{{ project.name }}` | TODO |

## Quick start

```bash
uv sync
make check
```

## Development

```bash
make test        # run tests
make lint        # check style
make typecheck   # check types
make check       # all of the above
```
