include(FetchContent)

# TODO: choose ONE test framework and remove the other block.
#
# Option A: GoogleTest
# ---------------------
FetchContent_Declare(
    googletest
    GIT_REPOSITORY https://github.com/google/googletest.git
    GIT_TAG        v1.15.2
)
set(gtest_force_shared_crt ON CACHE BOOL "" FORCE)
FetchContent_MakeAvailable(googletest)

add_executable(test_{{ project.name }}
    test_{{ project.name }}.cpp
)
target_link_libraries(test_{{ project.name }}
    PRIVATE {{ project.name }} GTest::gtest_main
)
include(GoogleTest)
gtest_discover_tests(test_{{ project.name }})

# Option B: Catch2
# ----------------
# FetchContent_Declare(
#     Catch2
#     GIT_REPOSITORY https://github.com/catchorg/Catch2.git
#     GIT_TAG        v3.7.1
# )
# FetchContent_MakeAvailable(Catch2)
#
# add_executable(test_{{ project.name }}
#     test_{{ project.name }}.cpp
# )
# target_link_libraries(test_{{ project.name }}
#     PRIVATE {{ project.name }} Catch2::Catch2WithMain
# )
# list(APPEND CMAKE_MODULE_PATH ${catch2_SOURCE_DIR}/extras)
# include(Catch)
# catch_discover_tests(test_{{ project.name }})
